#user-direction-to-menu{

  left:10px;
  top:50px;
  position: absolute;
}

#choose-animation{
	width:500px;
	height: 40px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:90px;
	background-color: #fa0;
}

#choose-animation ul{
	position: absolute;
	width: 100%;
}

#choose-animation ul li{
	margin: 0;
	height: 35px;
	float: left;
	padding-top:5px;
	text-align: center;
}

#choose-animation #first{
	width: 200px;
	background-color: #056;
}
#choose-animation #second{
	width: 300px;
	background-color: #7FB9E9;
}

#choose-animation #second select{
       
       width:300px;
       height: 40px;
       padding-left: 5px;
       padding-top: 5px;
       position: absolute;
       left:200px;
       top:0; 
       background: transparent;
       color:#000;
       border: 0 none;
       font-size: 18px;
       font-family:"Open Sans";
       cursor: pointer;

}
#choose-animation #second option{
       height: 20px;
       padding-left: 5px;
       padding-top: 5px;
       font-size: 14px;
}

#different-colors{
	width:500px;
	height: 40px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:100px;
	

}

#different-color-introduction{
	position: absolute;
	float: left;
	width: 200px;
	background-color: #067;
	height: 33px;
	padding-top: 7px;
	padding-left: 10px;

}

#practical-colors{
	position: absolute;
	float: right;
	width: 300px;
	background-color: #090;
	height: 40px;
	left: 200px;
}

#practical-colors ul li{
	width: 50px;
	margin: 0;
	min-height: 40px;
	float: left;
	cursor: pointer;
}


#select-width{
	width: 40%;
	min-width:200px;
	height: 40px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:110px;
-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

#select-width ul{
	position: absolute;
	width: 100%;
}

#select-width ul li{
	width: 50%;
	margin: 0;
	height: 35px;
	float: left;
	cursor: pointer;
	padding-top:5px;
	text-align: center;
}


#rotate{
	background-color: #454545;
}

#focus{
	background-color: #323232;
}

#purple{
	background-color: #9061C2;
}

#blue{
	background-color: #7FB9E9;
}

#dark-blue{
	background-color: #056;
}

#yellow{
	background-color: #fa0;
}

#white{
	background-color: #dddddd;
}

#black{
	background-color: #161616;
}

#how-to-use{
	width:45%;
	min-width: 200px;
	min-height: 200px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:130px;
	border-radius: 20px;
	padding: 10px;
}

#how-to-use ul{
	font-size: 10px;
}

#how-to-use #lower-intro{
	font-size: 14px;
	margin-top:5px; 
}